body{
    max-width: 1024px;
    margin: auto;
    font-family:consolas,微軟正黑體;
    padding-bottom: 100px;
    font-size: 1.5em;
    background-color: #f4f4f4;
}
#app{
    margin: 16px;
}
blockquote{
    margin-left: 0px;
    padding-left: 32px;
    border-left: solid 8px #2196F3;
}
input{
    font-size: inherit;
    border: none;
    border-bottom: solid 2px #2196F3;
    text-align: center;
    width:96px;
    
}
canvas{
    background-color: white;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    max-width: 100%;
}


h3{
    font-size: 18px;
    margin: 4px;
}

.lang{
    margin-left: 16px;
}
.lang>a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-bottom: solid 2px #2196F3;
    background-color: white;
    padding: 4px;
    margin-left: 5px;
}
.lang>a:hover{
    background-color:  #2196F3;
    color: white;
}

.list-enter-active {
    position: relative;
    transition: all .8s ease;
}

.list-enter, .list-leave {
    position: relative;    
    opacity: 0;
}