button{
    font-family: inherit;
    border: none;
    font-size: 18px;
    padding: 4px;
    background-color: lightgray;
}

button:hover{
    background-color: white;
}

button:active{
    background-color: black;
    color: white;
}

.buttom{
    position: fixed;
    bottom: 0px;
}